header {
  display: flex;
  justify-content: space-between;
  padding: 25px 50px;
  margin: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  transition: 0.3s all;
  z-index: 99;
}
.changeColor {
  background-color: rgba(255,255,255,0.7);
}
.underline, header a:hover {
  transition: 0.5s all;
  background: linear-gradient(to bottom, transparent, transparent 90%, #dbbaaf 90%, #dbbaaf 100%);
}
nav {
  width: 175px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  z-index: 99;
  transition: 0.5s all;
  align-items: center;
}
header a {
  text-decoration: none;
  color: #696969;
  z-index: 99;
  line-height: 1;
  transition: 0.5s all;
  font-weight: 400;
}